[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/vulkan"]
	path = deps/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "deps/taskflow"]
	path = deps/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "deps/mimalloc"]
	path = deps/mimalloc
	url = https://github.com/microsoft/mimalloc.git
